.container {
  width: 330px;
  height: 250px;
  display: flex;
  flex-direction: column;
  @media (max-width: 370px) {
    width: 320px;
  }
  .videoPreviewWrapper {
    width: 100%;
    height: 180px;
    position: relative;
    margin-bottom: 10px;
    .videoPreview {
      width: 100%;
      height: 190px;
      border-radius: 5px;
      object-fit: cover;
    }
    .videoDuration {
      font-family: 'Roboto', 'Arial', sans-serif;
      bottom: -2px;
      right: 5px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 3px 5px;
      border-radius: 5px;
      font-size: 14px;
      color: #fff;
    }
  }
  .videoInfo {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    .videoTitle {
      margin-top: 0.5em;
      font-weight: 600;
      font-family: 'Roboto', 'Arial', sans-serif;
      font-size: 17px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 45px;
      &:hover {
        color: red;
      }
    }

    .otherInfo {
      font-family: 'Roboto', 'Arial', sans-serif;
      font-size: 15px;
      line-height: 2rem;
      font-weight: 400;
      height: max-content;
      align-items: center;
    }
  }
}
